// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    position: relative;

    .active-player {
        position: absolute;
        bottom: 0;
        left: 0;
        font-weight: bold;
    }
}