<!DOCTYPE html>
<html ng-app="app">

<head>
  <style>
    /* This helps the ng-show/ng-hide animations start at the right place.
       Since Angular has this but needs to load, this gives us the class early. */

    .ng-hide {
      display: none !important;
    }

  </style>
  <title ng-bind="title">
    Boggle
  </title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

  <!-- inject:css -->
  <link rel="stylesheet" href="dist/app.min.css">
  <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
  <!-- endinject -->
</head>

<body class="bg-gray">
  <div class="container bg-orange">
    <div class="row justify-content-center bg-gray p-3 header">
      <a ui-sref="home()"><img ng-src="dist/images/logo.png" class="img-responsive"></a>
      <div ng-if="ActivePlayer" class="active-player" ng-cloak>Playing: {{ActivePlayer}}</div>
    </div>
    <div class="row justify-content-center align-items-center p-5" style="border: 4px solid white;">
      <div class="col-12 col-md-6">
        <div class="app" ui-view></div>
      </div>
    </div>
  </div>

  <!-- inject:js -->
  <script src="dist/app.min.js"></script>
  <!-- endinject -->

  <!-- inject:templates:js -->
  <script src="dist/templates.min.js"></script>
  <!-- endinject -->
</body>

</html>