<form name="start" class="col-12" ng-submit="startGame(start)">
    <div class="form-group">
        <label for="player">To start your game you just need to insert your player name</label>
        <input type="text" class="form-control" id="player" ng-model="player" placeholder="Player name" required>
    </div>
    <div class="form-group  mt-3">
        <label for="language">Select language</label>
        <input type="radio" value="en" ng-model="language" name="language" class="radio"> English
        <input type="radio" value="de" ng-model="language" name="language" class="radio"> German
        <input type="radio" value="fr" ng-model="language" name="language" class="radio"> French
    </div>
    <div class="form-group">
        <button class="btn-brand-2" type="submit"> Play </button>
    </div>
</form>