// -----------------------------------------------------------------------------
// This file contains all styles related to the board component.
// -----------------------------------------------------------------------------

ul.board {
    width: 400px;
    margin: 0 auto;
    padding: 0;
    overflow: auto;

    li {
        float: left;        
        width: 80px;
        margin: 0.5rem;
        padding: 1rem;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

        color: $valid-color;
        text-align: center;

        background-color: white;
        border-radius: 1rem;
        list-style: none;
        

        cursor: pointer;
    
        &:hover, .active {
            background-color: $brand-color-3;
            color: white;
        }

        &.disabled {
            color: $invalid-color;
            cursor: not-allowed;
        }

        &.used {
            background-color: $brand-color;
            color: white;
            cursor: default;
        }
    }
}

.current-word {
    padding: 0 1rem 0.3rem 1rem;
    border-bottom: 2px solid white;
}

.scoreboard {
    text-transform: lowercase;

    .score {
        font-weight: bold;
        float: right;
    }

    .capitalize {
        text-transform: capitalize;
    }
}
