// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn-brand-2 {
    background-color: $brand-color-2;
    border: 2px solid white;
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
        background-color: $brand-color;
    }
}

.btn-new-game {
    background-color: $valid-color;
    border: 2px solid white;
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
        background-color: $brand-color;
    }
}