// -----------------------------------------------------------------------------
// This file contains all styles related to the input component.
// -----------------------------------------------------------------------------

.form-control {
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
}