// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.bg-orange {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f48100+0,dc3545+100 */
  background: $brand-color; /* Old browsers */
  background: -moz-linear-gradient(-45deg, $brand-color 0%, $brand-color-2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, $brand-color 0%,$brand-color-2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, $brand-color 0%,$brand-color-2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.bg-gray {
  background: $brand-color-3;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}