<ul class="board mt-3">
    <li ng-repeat="dice in boardDice.firstRow.chars track by $index" ng-class="{ disabled: dice.disabled, used: dice.used}" ng-click="onDiceClick(dice)">
        {{dice.char}}
    </li>
    <li ng-repeat="dice in boardDice.secondRow.chars track by $index" ng-class="{ disabled: dice.disabled, used: dice.used}" ng-click="onDiceClick(dice)">
        {{dice.char}}
    </li>
    <li ng-repeat="dice in boardDice.thirdRow.chars track by $index" ng-class="{ disabled: dice.disabled, used: dice.used}" ng-click="onDiceClick(dice)">
        {{dice.char}}
    </li>
    <li ng-repeat="dice in boardDice.forthRow.chars track by $index" ng-class="{ disabled: dice.disabled, used: dice.used}" ng-click="onDiceClick(dice)">
        {{dice.char}}
    </li>
</ul>

<div class="text-center mt-3">
    <span class="current-word">{{ currentWord }}</span>
</div>

<div class="row justify-content-center align-items-center mt-3">
    <button ng-if="!gameFinished" class="btn-brand-2" ng-click="submitWord()">Submit</button>
    <button ng-if="gameFinished" class="btn-new-game" ng-click="newGame()">New game?</button>
</div>