<div class="text-center">
    <span class="h2 capitalize">Score:</span>
    <span class="h2">{{player.score}}</span>
    <p>{{countdown}}</p>
</div>

<bgl-board></bgl-board>

<div class="row justify-content-center align-items-center mt-3">
    <div class="col-12 col-md-8">
        <div>
            <p class="h4 text-center">Word List:</p>
            <ul class="scoreboard list-unstyled">
                <li ng-repeat="word in player.words track by $index">
                    <span>{{word.word}}</span>
                    <span class="score">{{word.score}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>